<a href="#language" data-toggle="collapse" class="language d-inline-block">
  <img src="{% if section.settings.hd_multi_lang_img != blank %}{{section.settings.hd_multi_lang_img | img_url: "master" }}{% else %}//via.placeholder.com/18x12{% endif %}">
</a>
<ul class="collapse list-unstyled" id="language">
  {% for link in linklists[section.settings.hd_multi_lang_menu].links %}
  <li class="menu-item"> 
    <a href="{{link.url}}"> 
      {{link.title}}
    </a>
  </li>
  {% endfor %}
</ul>